/*
Body
*/
body {
	background-color: #203e74;
	font-family: 'Montserrat';
}

/*
Titre
*/
h1 {
	font-family: 'Montserrat';
	font-weight: bold;
	color: white;
}

h1 img {
	width: 3%;
	vertical-align: middle;
	margin-right: 0.5em;
}

/*
Paragraphe
*/
p, legend, th, td {
	color: white;
	font-size: 12px;
}

input, button {
	font-size: 12px;
}


/*
Bouton générer
*/
button {
	width: 10%;
}
button img {
	width: 10%;
	vertical-align: middle;
}