header h1 img {
	margin-right: 2%;
	width: 100px;
}

header {
	margin-top: 1%;
}

.ip{
	text-align: center;
	width: 10%;
}

#nat{
	text-align: left;
}

th{
	text-align: center;
}
.page-header{
	margin-bottom: 40px;
}

main center button {
	margin-top: 1%;
}